.article{
    background-color: rgba(210,210,210,1);
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.topalign{
    margin-top: 15px !important;
}
.center{
    text-align: center
}
.img{
	width: 280px;
	height: 200px;
    padding: 5px;
}
.img>img{
	width: 100%;
	height: 100%;
    padding-left: -20px;
}
.content{
    opacity:0;
    margin-top: -120px;
    margin-left: 100px;
    color: white;
}
.img:hover .content{
    opacity:1;
}
/*.img:hover{
    background-color: rgba(0,0,0,0.5);
}*/
.text{
    padding-top: 50px;
}
.no-underline{
    color: darkgray;
}
.no-underline:hover{
    text-decoration: none;
    color: darkgray;
    cursor:grab;
}
.images{
    width: 100px;
    height: 100px;  
}
.images>img{
    width: 100%;
    height: 100%;
}